# Web Application Framework
# https://flask.palletsprojects.com/en/1.1.x/
flask~=1.1.4
# Flask 1.1 不相容 Jinja2 3.x / Werkzeug 2.x / itsdangerous 2.x，需固定舊版
Jinja2<3.0
Werkzeug<2.0
itsdangerous<2.0
# Integration of Flask and WTForms
# https://flask-wtf.readthedocs.io/en/latest/
flask-wtf~=0.14.3
# Flask i18n extension
# https://flask-babel.tkte.ch/
Flask-Babel~=2.0.0

# SQL ORM tool kit
# https://docs.sqlalchemy.org/en/13/
sqlalchemy~=1.3.19

# Simple HTTP library
# https://docs.python-requests.org/en/latest/
requests~=2.31.0

# Extensions to the standard datetime module
# https://dateutil.readthedocs.io/en/stable/
python-dateutil~=2.8.1

# Pure Python MySQL Client
# https://pymysql.readthedocs.io/en/latest/
pymysql~=0.10.1

paho-mqtt~=1.6.1

# Local timezone module
# https://github.com/regebro/tzlocal
tzlocal~=2.1

MarkupSafe==2.0.1

cryptography

# 另需安裝 ccmapi（IoTtalk CCM API 套件，PyPI 上沒有）：
#   pip install git+ssh://git@gitlab.com/IoTtalk/ccmapi-py.git
