<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome/font-awesome.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/Ionicons/css/ionicons.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/AdminLTE/AdminLTE.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/AdminLTE/skins/skin-black-iot.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/google.fonts.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <!-- 自定義的 CSS -->
<style type="text/css">
    .navbar[data-v-4067c834] {
      margin-bottom: 0;
      height: 50px;
      border-top: 1px solid #1d799e;
      border-bottom: 1px solid #155b76;
      background-color: #269ccb;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#3daedb), to(#269ccb));
      background-image: linear-gradient(to bottom, #3daedb, #269ccb);
      -webkit-box-shadow: inset 0 1px #63bde1, inset 0 -2px #1e82a9;
              box-shadow: inset 0 1px #63bde1, inset 0 -2px #1e82a9;
    }
    .nav-item[data-v-4067c834] {
      border-right: 1px solid #227393;
      border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
    .nav-item > .nav-link[data-v-4067c834] {
      color: #fff;
      font-weight: 600;
      line-height: 18px;
      padding: 12px 13px 16px;
      border-left: 1px solid #59b5da;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
      cursor: pointer;
      text-shadow: 1px 0 #000;
      text-align: center;
    }
    .nav-item:hover > .nav-link[data-v-4067c834] {
      background-color: #fff;
      color: #333;
      text-shadow: none;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#fff));
      background-image: linear-gradient(to bottom, #f0f0f0, #fff);
    }
    .nav-link.router-link-exact-active.router-link-active[data-v-4067c834] {
      color: black;
      text-shadow: none;
      background-color: #e7e7e7;
    }
    .navbar-brand[data-v-4067c834] {
      font-size: 1.5em;
      text-align: center;
      color: white;
    }
    .navbar-brand[data-v-4067c834]:hover {
      color: white;
    }
</style>


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
