<header class="main-header">
  <!-- Logo -->
  <a href="/{{ g.get('lang_code') }}/dashboard_dropdown" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>{{ _('') }}</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>{{ _('Sensor Monitor') }}</b></span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

	<!-- Header title: 文字 or dropdown -->
	<div class="navbar-text" style="display:inline-block; padding-left: 10px;">
	  {% if header_dropdown_items %}
	    <div class="dropdown" style="display:inline;">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown"
		 style="font-size: 15px; font-weight: 600; color: white;">
		<span id="current-databank-title">{{ header_title or _('Select Page') }}</span> <span class="caret"></span>
	      </a>
	      <ul class="dropdown-menu">
		{% for item in header_dropdown_items %}
		  <li><a href="#" onclick="{{ item.onclick }}">{{ item.label }}</a></li>
		{% endfor %}
	      </ul>
	    </div>
	  {% else %}
	    <span style="font-size: 15px; font-weight: 600; color: white;">
	      {{ header_title or _('Default Title') }}
	    </span>
	  {% endif %}
	</div>
    
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img style="width:20px" src="{{url_for('static', filename='img/earth.png')}}">
          </a>
          <ul class="dropdown-menu">
            {% for k, v in i18n.items() %}
            <li><a href="/{{ v }}/dashboard_dropdown">{{ k }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            👤
            <span class="hidden-xs">{{username}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{url_for('static', filename='img/avatar.png')}}" class="img-circle" alt="User Image">
              <p>{{username}}
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="/{{ g.get('lang_code') }}/profile" class="btn btn-default btn-flat">{{ _('Profile') }}</a>
              </div>
              <div class="pull-right">
                <a href="/{{ g.get('lang_code') }}/logout" class="btn btn-default btn-flat">{{ _('Sign out') }}</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
