{% extends 'base/base.html' %} 

{% block page_title %} {{ _('Data Visualization') }} {% endblock %}

{% block page_content %}
<div class="row" id="app">
  <!-- Dynamic add fields and sensors -->
  <div v-for="(item, index) in fieldsSensors" :key="index">
    <!-- Field -->
    <div class="col-sm-6 col-xs-12">
      <label :for="'field' + index">{{ _('Field') }}{{ '{{ index + 1 }}' }}:</label>
      <select class="form-control" :id="'field' + index" v-model="item.active_field" @change="field_change(index)">
        <template v-for="field in fields">
          <option :value="field.name">{{ '{{ field.alias }}' }}</option>
        </template>
      </select>
    </div>
    <!-- Sensor -->
    <div class="col-sm-6 col-xs-12">
      <label :for="'sensor' + index">{{ _('Sensor') }}{{ '{{ index + 1 }}' }}:</label>
      <select class="form-control" :id="'sensor' + index" v-model="item.active_sensor">
        <template v-for="sensor in item.active_sensors">
          <option :value="sensor.df_name">{{ '{{ sensor.alias }}' }}</option>
        </template>
      </select>
    </div>
  </div>
  
  <!-- Add fields and sensors (Button) -->
  <div class="col-sm-2 col-xs-6">
    <br>
    <button class="btn btn-primary" style="width: 100%;" @click="addFieldSensor">{{ _('Add Field and Sensor') }}</button>
    <br>
  </div>
  <div class="clearfix"></div>

  <!-- start time -->
  <div class="col-sm-3 col-xs-12">
    <label for="start-time">{{ _('StartTime') }}: </label>
    <div class="input-group date">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input class="form-control" type='date' id="start-time" />
    </div>
  </div>

  <!-- end time -->
  <div class="col-sm-3 col-xs-12">
    <label for="end-time">{{ _('EndTime') }}: </label>
    <div class="input-group date">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input class="form-control" type='date' id="end-time" />
    </div>
  </div>

  <!-- interval -->
  <div class="col-sm-3 col-xs-12">
    <label for="interval">{{ _('Interval') }}:</label>
    <select class="form-control" id="interval">
      <option value="second">{{ _('Second') }}</option>
      <option value="minute">{{ _('Minute') }}</option>
      <option value="hour" selected>{{ _('Hour') }}</option>
      <option value="day">{{ _('Day') }}</option>
    </select>
  </div>

  <!-- plot method -->
  <div class="col-sm-3 col-xs-12">
    <label for="plotmethod">{{ _('Plot Method') }}:</label>
    <select class="form-control" id="plotmethod">
      <option value="line" selected>{{ _('Line') }}</option>
      <option value="scatter">{{ _('Scatter') }}</option>
      <option value="box">{{ _('Box') }}</option>
      <option value="bar">{{ _('Bar') }}</option>
      <option value="heatmap">{{ _('HeatMap') }}</option>
      <option value="calendar_heatmap">{{ _('Calendar Heatmap') }}</option>
    </select>
  </div>
  
  <!-- file upload -->
  <!--<div class="col-sm-12 col-xs-12">
    <br>
    <input type="file" id="file-upload" />
  </div>-->
  
  <!-- plot (Button) -->
  <div class="col-sm-12 col-xs-12">
    <br>
    <input type="button" onclick="update();" value="{{ _('Plot') }}" />
  </div>

  <div class="col-xs-12">
  <!-- DataTalk GUI -->
    <br>
    <div data-v-4067c834="" data-v-1ded156f="" class="container-fluid">
      <nav data-v-4067c834="" class="navbar row navbar-light navbar-expand">
        <div data-v-4067c834="" class="col-8">
          <ul data-v-4067c834="" class="navbar-nav">
            <li data-v-4067c834="" class="nav-item">
              <a data-v-4067c834="" href="#/3/dataset-mgmt" class="nav-link router-link-exact-active router-link-active" target="_self" aria-current="page">Dataset Management</a>
            </li>
            <li data-v-4067c834="" class="nav-item">
              <a data-v-4067c834="" href="#/3/featextra" class="nav-link" target="_self">Feature Extraction</a>
            </li>
            <li data-v-4067c834="" class="nav-item">
              <a data-v-4067c834="" href="#/3/statisticsmodel" class="nav-link" target="_self">Statistics Model</a>
            </li>
            <li data-v-4067c834="" class="nav-item">
              <a data-v-4067c834="" href="#/3/datamining" class="nav-link" target="_self">Data Mining</a>
            </li>
          </ul>
        </div>
      </nav>
      <!---->
    </div>

  <!-- Existing interactive chart section -->
    <br>
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fa fa-bar-chart-o"></i>
          <h3 class="box-title">{{ _('History Histogram') }}</h3>
          <div class="box-tools pull-right"></div>
        </div>
        <div class="box-body"><div id="plot" style="height: 500px;"></div></div>
      </div>
    </div>
  </div>
  
  <!-- Add the navigation bar -->
    <br>
    <div class="navbar">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">{{ _('Dataset Management') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ _('Feature Extraction') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ _('Statistics Model') }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{ _('Data Mining') }}</a>
        </li>
      </ul>
    </div>
    
    <iframe src="https://aitalk.danny.iottalk.tw/datatalk/#/3/dataset-mgmt"></iframe>
    <!--<iframe src="https://farm.iottalk.tw/RemoteControl/KYPT_PathologyM3" width="100%" height="1500px" frameborder="0" loading="lazy" data-src="https://farm.iottalk.tw/RemoteControl/KYPT_PathologyM3"></iframe>-->
  
</div>

{% endblock %}


{% block page_script %}
<!-- Page script -->
<script>
  function getData(callback) {
    let fields = app.fieldsSensors.map(item => item.active_field);
    let sensors = app.fieldsSensors.map(item => item.active_sensor);
    let starttime = $('#start-time')[0].value;
    let endtime = $('#end-time')[0].value + " 23:59:59";
    let interval = $('#interval').val();

    $.ajax({
      'url': '/api/dynamic_datas',
      'data': {
        f: fields,
        s: sensors,
        st: starttime,
        et: endtime,
        i: interval
      },
      'traditional': true
    }).done((data) => {
      callback(data);
    }).fail(() => {
      callback();
    });
  }

  function update() {
    getData((data) => {
      if (!data) { // 如果數據為空則返回，不進行繪圖
        return;
      }
      
      let traces = []; // 儲存不同感測器和欄位的繪圖數據
      let layout = { // 定義繪圖的佈局，包括 X 軸(Time)和 Y 軸(sensor)的設置
        xaxis: {
          title: 'Time',
          tickformat: '%Y-%m-%d %H:%M:%S', // 時間格式
          tickangle: 45 // X 軸刻度標籤的角度
        },
        yaxis: {
          title: 'Value'
        }
      };

      let interval = $('#interval').val();
      let plotMethod = $('#plotmethod').val();

      let yValues = [];
      let zValues = [];
      let xValues = [];
      
      console.log(data); //data = {AtPressure-O: {test: [{date: '2024-08-26', hour: '17', value: '39.0'}, {…},...]}, 'Sensor': {'Field': [{date: '2024-08-26', hour: '17', value: '39.0'}, {…},...]}}
      for (let sensor in data) {
        for (let field in data[sensor]) {
          let sensorData = data[sensor][field]; // 獲取感測器欄位的數據 //sensorData = [{date: '2024-08-26', hour: '17', value: '39.0'},{},...]
          console.log(sensorData); 
          console.log(sensor);
          console.log(field);

          let timestamps = [];
          if (interval == 'day') {
            timestamps = sensorData.map(item => `${item.date}`);
          } else if (interval == 'hour') {
            timestamps = sensorData.map(item => `${item.date} ${item.hour}:00:00`);
          } else if (interval == 'minute') {
            timestamps = sensorData.map(item => `${item.date} ${item.hour}:${item.minute}:00`);
          } else {
            timestamps = sensorData.map(item => item.timestamp); // 使用完整的時間戳
          }
          //console.log(timestamps); //timestamps = ['2024-05-30 16:00:00',...]
          let values = sensorData.map(item => parseFloat(item.value)); // 將數據值轉換為浮點數
          //console.log(values); //values = [39.0,...]
          if (plotMethod === 'heatmap') {
            xValues = xValues.concat(timestamps); //x軸是timestamp
            yValues = yValues.concat(Array(timestamps.length).fill(`${field} - ${sensor}`)); //y軸是field+sensor
            zValues = zValues.concat(values); //z軸是數值
            let trace = {
              x: xValues,
              y: yValues,
              z: zValues,
              type: 'heatmap',
              name: 'Heatmap',
              colorscale: 'Viridis' // 使用 Viridis 顏色尺度
            };
            traces.push(trace); // 將此熱力圖數據加入 traces
          }else{
            let trace = {
              x: timestamps,
              y: values,
              mode: 'lines+markers', 
              type: 'scatter',
              name: `${field} - ${sensor}` //當下迴圈的field跟sensor
            };
            if (plotMethod === 'line') {
              trace.mode = 'lines+markers'; // 使用線條和標記點
            } else if (plotMethod === 'scatter') {
              trace.mode = 'markers'; // 只使用標記點
            } else if (plotMethod === 'box') {
              trace = {
                y: values,
                type: 'box',
                name: `${field} - ${sensor}` // 設置圖表的名稱
              };
              layout.xaxis.title = 'Sensor';  // X 軸標題設為感測器
              layout.yaxis.title = 'Value';   // Y 軸標題設為數值
            } else if (plotMethod === 'bar') {
              trace.type = 'bar';
              trace.mode = undefined; // 不需要 mode
            }
            traces.push(trace);
          }
        }
      }
      Plotly.newPlot("plot", traces, layout);
    });
  }

  function getFormatDate(date) {
    let year = date.getFullYear();
    let month = '' + (date.getMonth() + 1);
    let day = '' + date.getDate();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
  }
  
  var app = new Vue({
    el: '#app',
    data: function () {
      let initialFieldsSensors = {
        active_field: '',
        active_sensor: '',
        active_sensors: []
      };
      return {
        fields: {{ fields|safe }},
        fieldsSensors: [Object.assign({}, initialFieldsSensors)]
      }
    },
    methods: {
      addFieldSensor() {
        this.fieldsSensors.push({
          active_field: '',
          active_sensor: '',
          active_sensors: []
        });
      },
      field_change(index) {
        let field = this.fieldsSensors[index].active_field;
        this.fieldsSensors[index].active_sensors = this.fields.find(f => f.name === field).sensors;
      }
    },
    mounted() {
      this.fieldsSensors[0].active_field = this.fields[0].name;
      this.fieldsSensors[0].active_sensors = this.fields[0].sensors;
      this.fieldsSensors[0].active_sensor = this.fields[0].sensors[0].df_name;

      // set default time
      let d = new Date();
      $('#end-time')[0].value = getFormatDate(d);
      d.setDate(d.getDate() - 1);
      $('#start-time')[0].value = getFormatDate(d);
    }
  });
</script>
{% endblock %}

