{% extends 'base/base.html' %} 

{% block page_title %} {{ _('Latest 24 hours data history') }} {% endblock %}

{% block page_content %}
<div class="row" id="app">
  <div class="col-sm-4 col-xs-12">
    <label for="filed">{{ _('Field') }}</label>
    <select class="form-control" id="field" v-model="active_field" @change="field_change">
      <template v-for="field in fields">
        <option :value="field.name" >{{ '{{' }}field.alias{{ '}}' }}</option>
      </template>
    </select>
  </div>

  <div class="col-sm-4 col-xs-12">
    <label for="sensor">{{ _('Sensor') }}</label>
    <select class="form-control" id="sensor" v-model="active_sensor" @change="sensor_change">
      <template v-for="sensor in active_sensors">
        <option :value="sensor.df_name">{{ '{{' }}sensor.alias{{ '}}' }}</option>
      </template>
    </select>
  </div>

  <div class="col-sm-4 col-xs-12">
    <label for="range">{{ _('Time Slot') }}</label>
    <select class="form-control" id="interval" v-model="selected_interval" @change="time_slot_change">
      <option value="1440">24{{ _('Hours') }}</option>
      <option value="60">1{{ _('Hour') }}</option>
      <option value="10">10{{ _('Minutes') }}</option>
    </select>
  </div>

  <div class="col-xs-12">
    <br>
    <!-- interactive chart -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-bar-chart-o"></i>
        <h3 class="box-title">{{ _('Data Chart') }}</h3>

        <!--<div class="box-tools pull-right">
          Real time
          <div class="btn-group" id="realtime" data-toggle="btn-toggle">
            <button type="button" class="btn btn-default btn-xs active" data-toggle="on">On</button>
            <button type="button" class="btn btn-default btn-xs" data-toggle="off">Off</button>
          </div>
        </div>-->
      </div>
      <div class="box-body">
        <div id="interactive" style="height: 300px;"></div>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
  
  <div class="col-sm-6 col-xs-12">
  <br>
  <!-- STL chart -->
    <div id="STL-chart"></div>
  </div>
  
  <div class="col-sm-6 col-xs-12">
  <br>
  <!-- Outlier chart -->
    <div id="outlier-chart"></div>
  </div>
  
</div>

{% endblock %}

{% block page_script %}
<!-- Page script -->
<script>
  function getDate(date) {
    let year = date.getFullYear();
    let month = '' + (date.getMonth() + 1);
    let day = '' + date.getDate();

    let hour = '' + date.getHours();
    let minute = '' + date.getMinutes();
    let second = '' + date.getSeconds();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;
    if (hour.length < 2) hour = '0' + hour;
    if (minute.length < 2) minute = '0' + minute;
    if (second.length < 2) second = '0' + second;

    return [year, month, day].join('-') + ' ' + [hour, minute, second].join(':');
  }

  function getData(field, sensor, interval, callback) {
    let d = new Date(); // 當前時間
    let et = getDate(d); // 例如：2024-10-07 18:02:48

    // 根據 interval 計算起始時間（如24小時前）
    d.setMinutes(d.getMinutes() - Number(interval));
    let st = getDate(d); // 例如：2024-10-06 18:02:48

    // AJAX 請求，根據時間範圍請求數據
    $.ajax({
      'url': '/api/datas/' + field + '/' + sensor + '?limit=9999999&start=' + st + '&end=' + et,
    }).done((data) => {
      if (callback && data && data[sensor]) {
        callback(data[sensor].reverse());
      } else {
        callback([]);
      }
    }).fail(() => {
      callback([]);
    });
  }

  function update() {
    let interval = $('#interval').val(); // 從選擇器獲取選定的 interval 值（例如24小時）
    
    getData(apps.active_field, apps.active_sensor, interval, (data) => {
      let x = [];
      let y = [];

      data.forEach((element) => {
        x.push(element[0]);  // 日期或時間
        y.push(parseFloat(element[1]));  // 值
      });

      // 使用 Plotly 繪製圖表
      var trace1 = {
        x: x,
        y: y,
        mode: 'lines',
        name: 'Data',
        fill: 'tozeroy', // 使用面積圖繪製
        marker: { size: 8 }
      };

      var layout = {
        title: 'Data Chart',
        xaxis: {
          title: 'Time',
          rangeslider: {  // 啟用 rangeslider 功能
            visible: true
          },
          range: [x[0], x[x.length - 1]]  // 初始時間範圍，顯示 interval 內的數據
        },
        yaxis: { title: 'Value' },
        hovermode: 'closest'  // 啟用互動提示
      };

      Plotly.newPlot('interactive', [trace1], layout);
    });
  }

  $(() => {
    // 初始化 Plotly 圖表為空
    Plotly.newPlot('interactive', [], {
      title: 'Data Chart',
      xaxis: { title: 'Time', rangeslider: {} },  // 初始圖表也啟用時間軸縮放功能
      yaxis: { title: 'Value' },
    });

    // set Vue data
    apps = new Vue({
      el: '#app',
      data: function () {
        fields = {{ fields|safe }}.filter((data) => { return data.sensors.length; });
        active_field = fields[0].name;
        active_sensors = fields[0]['sensors'];
        active_sensor = fields[0]['sensors'][0]['df_name'];
        return {
          fields: fields,
          active_field: active_field,
          active_sensors: active_sensors,
          active_sensor: active_sensor,
          selected_interval: '1440'  // 預設為24小時
        };
      },
      methods: {
        field_change() {
          // 當 field 改變時，更新 sensors 列表並更新選中的 sensor
          const selectedField = this.fields.find(field => field.name === this.active_field);
          this.active_sensors = selectedField.sensors;
          this.active_sensor = this.active_sensors[0].df_name;  // 選擇該 field 的第一個 sensor
          update();  // 更新圖表
        },
        sensor_change() {
          update();  // 當 sensor 改變時，重新執行 update
        },
        time_slot_change() {
          update();  // 當 Time Slot 改變時，重新更新圖表
        }
      }
    });
    
    // 讓dashboard.html點了more info.後可以直接跳轉到history
    let hash = window.location.hash.replace('#', '').split(',');
    if(hash[0]){
      apps.active_field = hash[0];
      apps.fields.forEach((field) => {
        if(field.name == hash[0]) {
          apps.active_sensors = field['sensors'];
          apps.active_sensor = this.active_sensors[0]['df_name'];
        }
      });
    }
    if(hash[1]){
      apps.active_sensor = hash[1];
    }

    // 初始化圖表更新，頁面載入時執行一次 update
    update();  // 初次載入顯示 interval 內的數據
  });
</script>


{% endblock %}
