{% extends 'base/base.html' %} 

{% block page_title %} {{ _('Data Visualization') }} {% endblock %}

{% block page_content %}
<div class="row" id="app">
  <!-- Dynamic add fields and sensors -->
  <div v-for="(item, index) in fieldsSensors" :key="index">
    <!-- Field -->
    <div class="col-sm-6 col-xs-12">
      <label :for="'field' + index">{{ _('Field') }}{{ '{{ index + 1 }}' }}:</label>
      <select class="form-control" :id="'field' + index" v-model="item.active_field" @change="field_change(index)">
        <template v-for="field in fields">
          <option :value="field.name">{{ '{{ field.alias }}' }}</option>
        </template>
      </select>
    </div>
    <!-- Sensor -->
    <div class="col-sm-6 col-xs-12">
      <label :for="'sensor' + index">{{ _('Sensor') }}{{ '{{ index + 1 }}' }}:</label>
      <select class="form-control" :id="'sensor' + index" v-model="item.active_sensor">
        <template v-for="sensor in item.active_sensors">
          <option :value="sensor.df_name">{{ '{{ sensor.alias }}' }}</option>
        </template>
      </select>
    </div>
  </div>
  
  <!-- Add fields and sensors (Button) -->
  <div class="col-sm-2 col-xs-6">
    <br>
    <button class="btn btn-primary" style="width: 100%;" @click="addFieldSensor">{{ _('Add Field and Sensor') }}</button>
    <br>
  </div>
  <div class="clearfix"></div>


  <!-- start time -->
  <div class="col-sm-3 col-xs-12">
    <label for="start-time">{{ _('StartTime') }}: </label>
    <div class="input-group date">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input class="form-control" type='date' id="start-time" />
    </div>
  </div>

  <!-- end time -->
  <div class="col-sm-3 col-xs-12">
    <label for="end-time">{{ _('EndTime') }}: </label>
    <div class="input-group date">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <input class="form-control" type='date' id="end-time" />
    </div>
  </div>

  <!-- interval -->
  <div class="col-sm-3 col-xs-12">
    <label for="interval">{{ _('Interval') }}:</label>
    <select class="form-control" id="interval">
      <option value="second">{{ _('Second') }}</option>
      <option value="minute">{{ _('Minute') }}</option>
      <option value="hour" selected>{{ _('Hour') }}</option>
      <option value="day">{{ _('Day') }}</option>
    </select>
  </div>

  <!-- plot method -->
  <div class="col-sm-3 col-xs-12">
    <label for="plotmethod">{{ _('Plot Method') }}:</label>
    <select class="form-control" id="plotmethod">
      <option value="line" selected>{{ _('Line') }}</option>
      <option value="scatter">{{ _('Scatter') }}</option>
      <option value="box">{{ _('Box') }}</option>
      <option value="bar">{{ _('Bar') }}</option>
      <option value="heatmap">{{ _('HeatMap') }}</option>
      <option value="calendar_heatmap">{{ _('Calendar Heatmap') }}</option>
    </select>
  </div>
  
  <!-- file upload -->
  <!--<div class="col-sm-12 col-xs-12">
    <br>
    <input type="file" id="file-upload" />
  </div>-->
  
  <!-- plot (Button) -->
  <div class="col-sm-12 col-xs-12">
    <br>
    <input type="button" onclick="update();" value="{{ _('Plot') }}" />
  </div>
  
  <div class="col-xs-12">
    <!-- interactive chart -->
    <br>
    <div class="box box-primary">
      <div class="box-header with-border">
        <i class="fa fa-bar-chart-o"></i>

        <h3 class="box-title">{{ _('History Histogram') }}</h3>

        <div class="box-tools pull-right"></div>
      </div>
      <div class="box-body"><div id="plot" style="height: 500px;"></div></div>
    </div>
  </div>  
</div>

{% endblock %}


{% block page_script %}
<!-- Page script -->
<script>
  function getData(callback) {
    let fields = app.fieldsSensors.map(item => item.active_field);
    let sensors = app.fieldsSensors.map(item => item.active_sensor);
    let starttime = $('#start-time')[0].value;
    let endtime = $('#end-time')[0].value + " 23:59:59";
    let interval = $('#interval').val();

    $.ajax({
      'url': '/api/dynamic_datas',
      'data': {
        f: fields,
        s: sensors,
        st: starttime,
        et: endtime,
        i: interval
      },
      'traditional': true
    }).done((data) => {
      callback(data);
    }).fail(() => {
      callback();
    });
  }

  function update() {
    getData((data) => {
      if (!data) { // 如果數據為空則返回，不進行繪圖
        return;
      }
      
      let traces = []; // 儲存不同感測器和欄位的繪圖數據
      let layout = { // 定義繪圖的佈局，包括 X 軸(Time)和 Y 軸(sensor)的設置
        xaxis: {
          title: 'Time',
          tickformat: '%Y-%m-%d %H:%M:%S', // 時間格式
          tickangle: 45 // X 軸刻度標籤的角度
        },
        yaxis: {
          title: 'Value'
        }
      };

      let interval = $('#interval').val();
      let plotMethod = $('#plotmethod').val();
      
      for (let sensor in data) {
        for (let field in data[sensor]) {
          let sensorData = data[sensor][field]; // 獲取感測器欄位的數據

          let timestamps = [];
          if (interval == 'day') {
            timestamps = sensorData.map(item => `${item.date}`);
          } else if (interval == 'hour') {
            timestamps = sensorData.map(item => `${item.date} ${item.hour}:00:00`);
          } else if (interval == 'minute') {
            timestamps = sensorData.map(item => `${item.date} ${item.hour}:${item.minute}:00`);
          } else {
            timestamps = sensorData.map(item => item.timestamp); // 使用完整的時間戳
          }

          let values = sensorData.map(item => parseFloat(item.value)); // 將數據值轉換為浮點數

          if (plotMethod === 'calendar_heatmap') {
            // 創建或更新日曆熱力圖
            let cal = new CalHeatMap();
            cal.paint({
              data: values,
              start: new Date($('#start-time').val()),  // 開始時間
              range: 1,  // 顯示一年的數據
              domain: "month",  // 每個單位顯示一個月
              subDomain: "day",  // 每個月內顯示每日數據
              cellSize: 20,  // 每個格子的大小
              legend: [10, 20, 30, 40],  // 設定不同數值範圍的顏色
              displayLegend: true,  // 顯示圖例
              tooltip: true  // 滑鼠懸停顯示詳細數據
            });
          }
        }
      }
      plt.show()
    });
  }

  function getFormatDate(date) {
    let year = date.getFullYear();
    let month = '' + (date.getMonth() + 1);
    let day = '' + date.getDate();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
  }
  
  var app = new Vue({
    el: '#app',
    data: function () {
      let initialFieldsSensors = {
        active_field: '',
        active_sensor: '',
        active_sensors: []
      };
      return {
        fields: {{ fields|safe }},
        fieldsSensors: [Object.assign({}, initialFieldsSensors)]
      }
    },
    methods: {
      addFieldSensor() {
        this.fieldsSensors.push({
          active_field: '',
          active_sensor: '',
          active_sensors: []
        });
      },
      field_change(index) {
        let field = this.fieldsSensors[index].active_field;
        this.fieldsSensors[index].active_sensors = this.fields.find(f => f.name === field).sensors;
      }
    },
    mounted() {
      this.fieldsSensors[0].active_field = this.fields[0].name;
      this.fieldsSensors[0].active_sensors = this.fields[0].sensors;
      this.fieldsSensors[0].active_sensor = this.fields[0].sensors[0].df_name;

      // set default time
      let d = new Date();
      $('#end-time')[0].value = getFormatDate(d);
      d.setDate(d.getDate() - 1);
      $('#start-time')[0].value = getFormatDate(d);
    }
  });
</script>
{% endblock %}

